<h1>My Friends</h1>
<div class="search-area pt-4">
  <h3>Search Friends</h3>
  <%= form_tag search_friend_path, remote: true, method: :get do %>
    <div class="form-group row">
      <div class="col-sm-9 pr-0">
        <%= text_field_tag :friend, params[:friend], placeholder: "Friend's username or email", autofocus: true, class: 'form-control form-control-lg'%>
      </div>
      <div class="col-sm-3 pl-0">
        <%= button_tag type: :submit, class: 'btn btn-primary' do %>
          <%= fa_icon 'search 2x' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div id="friendlist">
  
</div>
<% unless @friends.empty? %>
  <%= render 'friends/list' %>
<% end %>