<h2>User Details</h2>

<div class="results-block mb-2">
  <%= render 'layouts/messages' %>
</div>

<div class="card card-header results-block mb-3">
  <table class="col-md-12">
    <tbody>
        <tr>
          <td><strong>Name: </strong><%= @user.full_name %></td>
          <td><strong>Email: </strong><%= @user.email %></td>
          <td>
          <% unless current_user.friends_with?(@user.id) %>
          <%= link_to 'Add as friend', friendships_path(friend: @user), class: "btn-sm btn-primary", method: :post %>
          <% else %>
            <span class="badge badge-secondary">Already friends</span>
          <% end %>
          </td>
        </tr>
    </tbody>
  </table>
</div>
<% unless @tracked_stocks.empty? %>
  <%= render 'stocks/list' %>
<% else %>
  <p class='lead'>This user is not tracking any stocks</p>
<% end %>